.text-white > i{
    color:#FFF !important;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}
.DarkBg{
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.51) !important;
}

#loadImg
{
   position: absolute;
   top: 25%;
   left: 35%;
}
