{% extends "base.html" %}
{% block  content%}

<div class="card mb-3 dashboard-card-success" style="width: 250px; height: 340px">
  <div class="card-header p-0 m-0">
      <i class="fa fa-print fa-2x p-1 mr-3 float-left text-white ml-2 mt-2" aria-hidden="true"></i>
      <span class="pull-left m-1">
          brf01p02
          <br/>
          status: Printing
      </span>
  </div>
  <div class="card-body text-dark p-2">
    <h6 class="card-title">
        <span class="pull-left">T: 218℃  M:50℃</span>
        <span class="pull-right pl-1"><a title="stop" class="btn btn-danger btn-sm text-white"><i class="fa fa-stop" aria-hidden="true"></i></a></span>
        <span class="pull-right pl-1"><a title="pause" class="btn btn-warning btn-sm text-white"><i class="fa fa-pause" aria-hidden="true"></i></a></span>
        <span class="pull-right"><a title="start" class="btn btn-success btn-sm text-white"><i class="fa fa-play" aria-hidden="true"></i></a></span>
    </h6>
    <br/>
    <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer alert-success p-2">
        <h5>
            <span class="pull-left">01:23:43</span>
            <span class="pull-right">15%</span>
        </h5>
  </div>
</div>

{% endblock %}