{% extends "base.html" %}
{% block  content%}
<div class="content container mt-3">
    <header><h3><i class="fa fa-print" aria-hidden="true"></i> Update a Printer</h3></header>
     <hr>
    <section class="add-printer-form">
        <form method="post">
            <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" value="{{ printer.name }}" required/>
            </div>
            <div class="form-group">
            <label for="url">URL</label>
            <input class="form-control" type="text" id="url" name="url"  value="{{ printer.url }}" required/>
            </div>
            <div class="form-group">
            <label for="apikey">ApiKey</label>
            <input class="form-control" type="text" id="apikey" name="apikey" value="{{ printer.apikey }}" required/>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-secondary" href="{{url_for('printers.index')}}"> Cancel </a>
        </form>
    </section>
</div>
{% endblock %}